.chart-float-left,
.chart-float-right {
  float: none;
  width: 100%;
  max-width: 500px;
  margin: 0 auto ,75rem auto;
}

@media (min-width: 600px) {
  .chart-float-left {
	float: left;
	margin-right: 0.75rem; /* tightened from 1.5rem */
  }

  .chart-float-right {
	float: right;
	margin-left: 0.75rem;
  }
}
.pt-adjust {
  padding-top: 0.9rem; /* or use margin-top */
}

datacommons-line::part(container) {
	max-width: 500px !important;
	max-height: 500px !important;
	width: 100% !important;
	height: auto !important;
	overflow: hidden !important;
}
datacommons-line::part(header) {
	font-family: 'Garamond', sans-serif !important;
	font-size: 20px !important;
	font-weight: bold !important;
	color: #333 !important;
}
datacommons-map::part(container) {
	max-width: 500px !important;
	max-height: 500px !important;
	width: 100% !important;
	height: auto !important;
	overflow: hidden !important;
}
datacommons-map::part(header) {
	font-family: 'Garamond', sans-serif !important;
	font-size: 18px !important;
	font-weight: bold !important;
	color: #333 !important;
}
datacommons-map::part(place-path) {
	stroke: #444 !important;
	stroke-width: 1px !important;
}
datacommons-scatter::part(container) {
  max-width: 500px !important;
  width: 100% !important;
  height: auto !important;
  overflow: hidden !important;
  display: block !important;
  padding: 0 !important;
  margin: 0 auto !important;
  padding-left: 0.1rem !important;
}
datacommons-scatter::part(header) {
	font-family: 'Garamond', sans-serif !important;
	font-size: 18px !important;
	font-weight: bold !important;
	color: #333 !important;
}
datacommons-scatter::part(legend-container) {
  display: none !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  max-height: 0 !important;
  overflow: hidden !important;
}

svg text {
  font-size: 8px;
}

@media (max-width: 576px) {
  svg text {
	font-size: 5px !important;
  }
}

