.chart-float-left {
  float: left;
  max-width: 750px;
  min-width: 500px;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  padding-top: 0;
  margin-top: 0;
}
.chart-float-right {
  float: right;
  max-width: 750px;
  min-width: 500px;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  padding-top: 0;
  margin-top: 0;
}
.pt-adjust {
  padding-top: 0.9rem; /* or use margin-top */
}

datacommons-line::part(container) {
	max-width: 600px !important;
	max-height: 500px !important;
	width: 100% !important;
	height: auto !important;
	overflow: hidden !important;
}
datacommons-line::part(header) {
	font-family: 'Garamond', sans-serif !important;
	font-size: 20px !important;
	font-weight: bold !important;
	color: #333 !important;
}
datacommons-map::part(container) {
	max-width: 600px !important;
	max-height: 500px !important;
	width: 100% !important;
	height: auto !important;
	overflow: hidden !important;
}
datacommons-map::part(header) {
	font-family: 'Garamond', sans-serif !important;
	font-size: 18px !important;
	font-weight: bold !important;
	color: #333 !important;
}
datacommons-map::part(place-path) {
	stroke: #444 !important;
	stroke-width: 1px !important;
}
datacommons-scatter::part(container) {
	max-width: 800px !important;
	max-height: 500px !important;
	width: 100% !important;
	height: auto !important;
	overflow: hidden !important;
}
datacommons-scatter::part(header) {
	font-family: 'Garamond', sans-serif !important;
	font-size: 18px !important;
	font-weight: bold !important;
	color: #333 !important;
}